<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="login-panel panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Ingrese sus Credenciales</h3>
				</div>
				<div class="panel-body">
					<form role="form" novalidate>
						<fieldset>
							<div class="form-group">
								<input class="form-control" placeholder="Usuario" name="username" autofocus ng-model="user.username">
							</div>
							<div class="form-group">
								<input class="form-control" placeholder="Contraseña" name="password" type="password" ng-model="user.password">
							</div>
							<button class="btn btn-lg btn-success btn-block" type="submit" ng-click="login()">Ingresar</button>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>