<br class="hidden-print">
<input type="button" class="btn btn-info pull-right hidden-print" value="Imprimir" ng-click="print();">
<br class="hidden-print">
<br class="hidden-print">

<div class="table-responsive">
	<div class="content-fluid well" style="color:black;width:700px;">
    <div class="col-xs-3">
        <img src="images/logo.png" style="width:130px;" />
    </div>
    <div class="col-xs-5 text-center">
        <br>
        <br>
        <h5 style="margin-top: 0;">CENTRO UNIVERSITARIO PASO DEL NORTE</h5>
        <h5>CLAVE 08PSU5031F</h5>
        <h5>TELS. 679-94-65 Y 682-37-95</h5>
    </div>
    <div class="col-xs-4">
        <br>
        <br>
        <p class="text-right" style="font-size:11px;">{{baseEntity[0].report_date | date:'longDate'}}</p>
        <p class="text-right" style="font-size:11px;">{{baseEntity[0].report_date | date:'shortTime'}}</p>
    </div>
    <table class="table" style="font-size:11px;">
        <thead>
            <tr>
                <th class="text-center">Matricula</th>
                <th>Nombre Alumno</th>
                <th class="text-center">{{baseEntity[0].grade}}</th>
                <th class="text-center" colspan="2">{{baseEntity[0].period}}</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="text-center" style="width:90px;">{{baseEntity[0].enroll_number}}</th>
                <th>{{baseEntity[0].student_name}}</th>
                <th class="text-center" style="width:70px;">P1</th>
                <th class="text-center" style="width:70px;">P2</th>
                <th class="text-center" style="width:70px;">Prom.</th>
            </tr>
            <tr ng-repeat="matter in baseEntity">
                <td></td>
                <td>{{matter.metter_name}}</td>
                <td class="text-center">{{matter.partial_one}}</td>
                <td class="text-center">{{matter.special_one}}</td>
                <td class="text-center">{{matter.special_one}}</td>
            </tr>
            <tr>
                <td></td>
                <td class="text-right">Promedio:</td>
                <td class="text-center">{{getAverage()}}</td>
                <td class="text-center">{{getAverage()}}</td>
                <td class="text-center"><h5 style="margin:0;font-weight: bold;">{{getAverage()}}</h5></td>
            </tr>
        </tbody>
    </table>
</div>
</div>


