<div ng-show="baseEntity"><br class="hidden-print">
<br class="hidden-print">
<input type="button" class="btn btn-info pull-right hidden-print" value="Imprimir" ng-click="print();">
<br class="hidden-print">
<br class="hidden-print">
<div class="content-fluid well Constancia" style="color:black;width:700px;background-color: #fff;">
    <br />
    <br />
    <div style="margin-top: 0;text-align:center;position:relative;"><img src="images/logoCircular.png" style="width:130px;position:absolute;left: -9px;top: -49px;">CENTRO UNIVERSITARIO PASO DEL NORTE
        <br />CLAVE DE INC. SEP. 08PSU5031F
    </div>
    <br />
    <br />
    <div style="text-align:right;">CD. JUAREZ CHIH. A {{baseEntity.report_date | date:'mediumDate'}}<br />ASUNTO: CONSTANCIA DE ESTUDIOS</div>
    <br />
    <div style="text-align:left;">INSTITUTO MEXICANO DEL SEGURO SOCIAL.-
        <br />PRESENTE:
    </div>
    <br />
    <br />
    <div>
        <p>El que suscribe, Lic. Oscar Mauricio Luevano García, Director de esta Institución por medio de la presente hago de su conocimiento que el <b>C. {{baseEntity.student_name}}</b> número de matrícula <b>{{baseEntity.enroll_number}}</b> cursa actualmente la carrera de <b>{{baseEntity.name_carreer}}</b> turno mixto del ciclo <b>{{baseEntity.period}} {{baseEntity.report_date | date:'yyyy'}}</b>.</p>
    </div>
    <br />
    <div>A petición de el interesado se extiende la presente para fines y uso legales que a el <br>convenga.</div>
    <br />
    <div>
        Agradeciendo las atenciones que se sirva prestar en beneficio del interesado me es grato <br>suscribirme a sus estimables órdenes.
    </div>
    <br />
    <br />
    <br />
    <br />
    <div style="text-align:center;position:relative;"><img src="images/firma.jpg" style="width:130px;position:absolute;left: 262px;top: 31px;"><span style="width:220px;border-bottom: solid black 2px;position:absolute;left:216px;top:110px;"></span><img src="images/sello.jpg" style="width:130px;position:absolute;left: 482px;top: 21px;">
        Atentamente.
        <br />
        <br />
        <br />
        <br />
        <br /> 
        <br />Lic. Oscar Mauricio Luevano García
        <br />
    </div>
    <br />
    <br />
    <br />
    <div class="Footer">Av. Manuel J. Clouthier No. 10111. Col. Ampliacion Aeropuerto C.P32590 Cd. Juarez Chihuahua.<br />Tel. (656) 679-94-65  correo electronico imav220@hotmail.com</div>
</div></div>
