<div ng-show="baseEntity"><br class="hidden-print">
<input type="button" class="btn btn-info pull-right hidden-print" value="Imprimir" ng-click="print();">
<br class="hidden-print">
<br class="hidden-print">
<div class="content-fluid well Constancia" style="color:black;width:700px;">
    <br />
    <br />
    <div style="margin-top: 0;text-align:center;position:relative;"><img src="images/logoCircular.png" style="width:130px;position:absolute;left: -9px;top: -49px;">CENTRO UNIVERSITARIO PASO DEL NORTE
        <br />CLAVE DE INC. SEP. 08PSU5031F
    </div>
    <br />
    <br />
    <div style="text-align:right;">CD. JUAREZ CHIH. A {{'15 DE AGOSTO DEL 2015'}}<br />ASUNTO: CONSTANCIA DE ESTUDIOS</div>
    <br />
    <div style="text-align:left;">A QUIEN CORRESPONDA.-
        <br />PRESENTE:
    </div>
    <br />
    <br />
    <div>
        El que suscribe, Lic. Oscar Mauricio Luevano García, Director de esta Institución por medio de la presente hago de su conocimiento que el C. REYES NUÑEZ LUIS CARLOS número de matrícula 34062 curso actualmente el SEXTO TETRAMESTRE de la carrera de LICENCIATURA EN ADMINISTRACION DE EMPRESAS turno mixto del ciclo MAYO-AGOSTO 2015, teniendo un promedio general en los seis Tetramestres de 9.1.
    </div>
    <br />
    <div>A petición de el interesado se extiende la presente para fines y uso legales que a el <br>convenga.</div>
    <br />
    <div>
        Agradeciendo las atenciones que se sirva prestar en beneficio del interesado me es grato <br>suscribirme a sus estimables órdenes.
    </div>
    <br />
    <br />
    <br />
    <br />
    <div style="text-align:center;">
        Atentamente.
        <br />
        <br />
        <br />
        <br />
        <br /> ______________________________
        <br />Lic. Oscar Mauricio Luevano García
        <br />
    </div>
    <br />
    <br />
    <br />
    <div class="Footer">Av. Manuel J. Clouthier No. 10111. Col. Ampliacion Aeropuerto C.P32590 Cd. Juarez Chihuahua.<br />Tel. (656) 679-94-65  correo electronico imav220@hotmail.com</div>
</div></div>
