<div class="container well notes">
    <div class="row">
        <div class="col-xs-6">
            <h3 style="margin-top:0;">Calificaciones</h3>
        </div>
        <div class="col-xs-4 col-xs-offset-2 text-left">
            <label>Materia</label>
            <p class="form-control-static">Etica y Valores II</p>
            <label>Grado</label>
            <p class="form-control-static">2A DOMINGOS</p>
        </div>
    </div>
    <br />
    <br />
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th style="width:70px;">Matricula</th>
                <th style="width:285px;">Alumno</th>
                <th style="width:50px;">P. 1</th>
                <th style="width:50px;">P. 2</th>
                <th style="width:50px;">Prom.</th>
                <th style="width:50px;">E. 1</th>
                <th style="width:50px;">E. 2</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="note in theNotes">
                <td>{{$index + 1}}</td>
                <td>{{note.enroll_number}}</td>
                <td class="text-left">{{note.student_name}}</td>
                <td style="padding:1px;">
                    <input type="text" class="form-control" ng-model="note.partial_one" tabindex="1" />
                </td>
                <td style="padding:1px;">
                    <input type="text" class="form-control" ng-model="note.partial_two" tabindex="2" />
                </td>
                <td>{{(note.partial_one + note.partial_two) / 2 | number:1}}</td>
                <td style="padding:1px;">
                    <input type="text" class="form-control" ng-model="note.extraordinary_one" tabindex="3" />
                </td>
                <td style="padding:1px;">
                    <input type="text" class="form-control" ng-model="note.extraordinary_two" tabindex="4" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<input type="button" class="btn btn-success pull-right hidden-print" value="Imprimir" ng-click="print();">
<input type="button" class="btn btn-success pull-right hidden-print" value="Guardar" style="margin-right:10px;" ng-click="save();">
