<div class="container well notes" ng-show="theNotes">
    <div class="row">
        <div class="col-xs-6">
            <h3 style="margin-top:0;">Calificaciones</h3>
        </div>
        <div class="col-xs-4 col-xs-offset-2 text-left">
            <label>Materia</label>
            <p class="form-control-static">{{courseSelected.MetterName}}</p>
            <label>Grupo</label>
            <p class="form-control-static">{{courseSelected.Grade}} {{courseSelected.DayTrip}}</p>
        </div>
    </div>
    <br />
    <br />
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="width:50px;"></th>
                <th style="width:70px;">Matricula</th>
                <th>Alumno</th>
                <th style="width:70px;">P. 1</th>
                <th style="width:70px;">P. 2</th>
                <th style="width:70px;">Prom.</th>
                <!-- <th style="width:50px;">E. 1</th>
                <th style="width:50px;">E. 2</th> -->
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="note in theNotes" ng-class="{success: note.done}">
                <td>{{$index + 1}}</td>
                <td>{{note.enroll_number}}</td>
                <td class="text-left">{{note.student_name}}</td>
                <td style="padding:1px;">
                    <input type="text" class="form-control" ng-model="note.partial_one" tabindex="1" />
                </td>
                <td style="padding:1px;">
                    <input type="text" class="form-control" ng-model="note.partial_two" tabindex="2" />
                </td>
                <td>{{getFinal(note) | number:1}}</td>
                <!-- <td style="padding:1px;">
                    <input type="text" class="form-control" ng-model="note.extraordinary_one" tabindex="3" />
                </td>
                <td style="padding:1px;">
                    <input type="text" class="form-control" ng-model="note.extraordinary_two" tabindex="4" />
                </td> -->
            </tr>
        </tbody>
    </table>
</div>
<input type="button" ng-show="theNotes" class="btn btn-success pull-right hidden-print" value="Imprimir" ng-click="print();">
<input type="button" ng-show="theNotes" class="btn btn-success pull-right hidden-print" value="Guardar" style="margin-right:10px;" ng-click="saveAll();">
<div class="modal fade" id="modalProgreso" style="color:black;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Guardando...</h4>
            </div>
            <div class="modal-body">
                Por favor espere.
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" ng-style="{width:saveProgress + '%'}">
                        {{saveProgress | number:0}} %
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
